@use '../utils' as u;

.addon {
    border: u.rem(1) solid hsl(229, 24%, 87%);
    border-radius: u.rem(8);
    padding: u.rem(16);
    flex-direction: row;
    align-items: center;
    gap: u.rem(15);

    &__h4 {
        color: hsl(213, 96%, 18%);
    }

    &__p {
        color: hsl(231, 11%, 63%);
        font-size: u.rem(14);

        &-blue {
            color: hsl(243, 100%, 62%);
        }
    }

    &__label {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
    }
}

.addon:hover, .addon:focus, .addon__label:hover, .addon__label:focus {
    cursor: pointer;
}

.picked {
    border: u.rem(1) solid hsl(243, 100%, 62%);
    background-color: hsla(243, 100%, 62%, 0.02);
}