@use '../utils' as u;

.aside {
    height: u.rem(171);
    display: flex;
    justify-content: center;
    gap: u.rem(16);
    padding-top: u.rem(32);   
    padding-bottom: u.rem(106); 
    background-image: url("../../assets/images/bg-sidebar-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include u.breakpoint(medium) { 
        border-radius: u.rem(10);
        height: 100%;
        flex-direction: column;
        gap: u.rem(32);
        justify-content: flex-start;
        padding-top: u.rem(38);
        padding-inline: u.rem(16);
        width: 30%;
        background-image: url("../../assets/images/bg-sidebar-desktop.svg");
    }

    &__span {
        display: block;
        background-color: transparent;
        width: u.rem(32);
        height: u.rem(32);
        border: u.rem(1) solid hsl(0, 0%, 100%);
        color: hsl(0, 0%, 100%);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__section {
        position: absolute;
        left: u.rem(-10000);

        @include u.breakpoint(medium) { 
            position: static;
        }
    }

    &__step {
        @include u.breakpoint(medium) { 
            display: flex;
            gap: u.rem(16);
        }
    }

    &__h3 {
        color: hsl(0, 0%, 100%);
        font-weight: 700;
    }
}

.highlight {
    background-color: hsl(206, 94%, 87%);
    color: hsl(0, 0%, 0%);
}