@use '../utils' as u;

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateX(0);
    opacity: 0;

    @include u.breakpoint(medium) { 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: u.rem(452);
        left: 0;
        right: 0;
        margin-inline: auto;
    }

    &__body {
        width: clamp(u.rem(292), calc(100% - u.rem(24)), u.rem(450));
        position: absolute;
        top: u.rem(96);
        left: 0;
        right: 0;
        margin-inline: auto;
        padding-top: u.rem(36);
        padding-bottom: u.rem(32);
        padding-inline: u.rem(24);
        background-color: var(--card-body-bgcolor);
        border-radius: u.rem(8);
        box-shadow: 0 u.rem(5) u.rem(10) var(--card-boxshadow-color);
        display: flex;
        flex-direction: column;
        gap: u.rem(24);

        @include u.breakpoint(medium) { 
            position: static;
            width: 100%;
            background-color: transparent;
            box-shadow: none;
            padding: 0;
            gap: u.rem(26);
        }
    }

    &__bottom {
        width: 100%;
        height: u.rem(74);
        position: absolute;
        bottom: 0;
        padding: u.rem(16);
        background-color: var(--card-bottom-bgcolor);
        display: grid;
        grid-template-columns: 1fr 1fr;

        @include u.breakpoint(medium) { 
            position: static;
            padding: 0;
        }
    }

    &__legend {
        display: flex;
        flex-direction: column;
        gap: u.rem(14);

        @include u.breakpoint(medium) { 
            margin-bottom: u.rem(14);
        }
    }

    &__total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: u.rem(12);

        @include u.breakpoint(medium) { 
         padding-inline: u.rem(18);
        }   
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: u.rem(10);
    
        @include u.breakpoint(medium) { 
            gap: u.rem(24);
        }   
    }
}

.card.active {
    z-index: 1;
    animation: blur 700ms linear forwards;
    
}

@keyframes blur {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}