@use '../utils' as u;

.content {
    &__choice {
        display: flex;
        flex-direction: column;
        gap: u.rem(4);

        @include u.breakpoint(medium) { 
            gap: u.rem(12);
        } 
    }

    &__input {
        border: u.rem(1) solid var(--input-border-color);
        border-radius: u.rem(4);
        padding: u.rem(15);
        background-color: var(--input-bgcolor);
        color: var(--input-color);
    }

    &__input::placeholder {
        color: var(--placeholder-color);
    }

    &__label {
        display: flex;
        justify-content: space-between;
        font-size: u.rem(10);

        @include u.breakpoint(medium) {
            font-size: u.rem(12);
        }
    }
}