@use '../utils' as u;

.plan {

    @include u.breakpoint(medium) { 
        flex-direction: row;
        justify-content: space-between;
    }

    &__choice {
        border: u.rem(1) solid hsl(229, 24%, 87%);
        border-radius: u.rem(8);
        padding: u.rem(16);
        display: flex;
        flex-direction: row;
        gap: u.rem(15);

        @include u.breakpoint(medium) { 
            width: u.rem(136);
            height: u.rem(160);
            padding: u.rem(20) u.rem(18);
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &__figcaption {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: u.rem(6);
    }
}

.plan:hover, .plan:focus {
    cursor: pointer;
}

.selected {
    border: u.rem(1) solid hsl(243, 100%, 62%);
    background-color: hsla(243, 100%, 62%, 0.02);
}