@use '../utils' as u;

.subscription {
    background-color: var(--sub-bgcolor);
    padding-block: u.rem(13);
    padding-inline: u.rem(52); 
    border-radius: u.rem(8);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include u.breakpoint(medium) { 
        justify-content: center;
        gap: u.rem(24);
    }

    &__button {
        width: u.rem(38);
        height: u.rem(20);
        padding-inline: u.rem(4);
        border-radius: u.rem(15);
        background-color: var(--sub-btn-bgcolor);
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__span {
        display: block;
        background-color: var(--sub-btn-color);
        border-radius: 50%;
        width: u.rem(12);
        height: u.rem(12);
    }

    &__span:hover, &__span:focus {
        cursor: pointer;
        transform: scale(1.2) translateX(u.rem(1));
        transition-duration: 0.2s;
        transition-timing-function: linear;
    }
}

.subscribed {
    color: var(--sub-text-color);
}

.moved {
    justify-content: flex-start;
}