@use '../utils' as u;

h2 {
    font-size: u.rem(18);
    color: var(--h2-color);

    @include u.breakpoint(medium) {
        font-size: u.rem(24);
    }
}

h3 {
    font-size: u.rem(14);
    font-weight: 400;
    color: var(--h3-color);
}

h4 {
    font-size: u.rem(13);
    font-weight: 500;
    color: var(--h4-color);
}

p {
    font-size: u.rem(12);
    color: var(--p-color);
}

.marineBlue {
    color: var(--marineblue-color);
}

.purplishBlue {
    color: var(--purplishblue-color);
}

.bold {
    font-weight: 700;
}

.medium {
    font-weight: 500;
}

.underline {
    text-decoration: underline;
}

.underline:hover, .underline:focus  {
    cursor: pointer;
    color: var(--underline-hover-color);
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.offscreen {
    position: absolute;
    left: -10000px;
}